#logo {
    color: #1ad39a;
    font-weight:900;
    padding: 15px 0;
    display:block;
}


ul li a {
    color:#1ad39a;
    padding: 15px 40px;
    text-transform:uppercase;
    font-weight:700;
}

ul li a:hover {
    background: #083527;
}
