input::placeholder, textarea::placeholder {
    color: #95989A;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    padding: 24px;
    color: #fff;
    background-color: #52595B !important;
}

textarea {
    resize: none;
    outline: none;
    border: none !important;
    color: #fff;
    background-color: #52595B !important;
}

button {
    display: block;
    width: 40%;
    background: #1ad39a;
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

.invalid-input {
    color: red;
}