<div class="newNoteContainer">
  <form #f="ngForm" (ngSubmit)="f.form.valid && saveNote()">
    <div>
      <input type="text" class="titlelnput form-control" placeholder="Title" name="title" [(ngModel)]="note.title">
    </div>
    <div class="contentBody">
      <ckeditor [editor]="Editor" name="content" [(ngModel)]="note.content"></ckeditor>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">{{ 'APP.NEW_NOTE.SAVE_NOTE' | translate }}</button>
      <app-notebooks-select *ngIf="editMode && notebooks" [selectNotebookPlaceholder]="selectNotebookPlaceholder"  [notebooks]="notebooks" (selectNotebookEvent)="addNoteToNotebook($event)">
      </app-notebooks-select>
    </div>
  </form>
</div>
