.newNoteContainer {
    margin-top: 6%;
    margin-left : 4%;
}

.saveAnimationIcon {
    background-color: green;
    float : right;
}

.titlelnput {
  background-color: rgb(53, 44, 44);
  width: 90%;
  padding : 10px;
  color : whitesmoke;
  border-color:  rgb(53, 44, 44);
}

.contentBody {
  width: 90%;
  height: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.invalid-input {
    border-color: rgb(245, 22, 22);
}

.tagsChip {
  margin-left : 2%;
  width : 30%;
}
