.container{
    margin-top: 15%;
}

.form-group input::placeholder, .form-group textarea::placeholder {
    color: #95989A;
}

.form-control:focus {
    border-width: 0 0 1px;
    border-color: black;
    box-shadow: none;
}

.form-group input {
    height: 3em;
    border-width: 0 0 1px;
    border-color: black;
    padding: 10px;
    color: whitesmoke;
    background-color: #52595B !important;
    margin-bottom: 1.5%;
}

.form-group textarea {
    height: 10em;
    resize: none;
    border: none !important;
    color: whitesmoke;
    background-color: #52595B !important;
    margin-bottom: 1.5%;
}

button {
    width: 35%;
    background-color: #1ad39a;
    cursor: pointer;
    font-weight: 600;
    color: rgb(51, 58, 59);
}

.invalid-input {
    color: rgb(245, 22, 22);
}