#notebookItem {
    background-color: #2A3031;
    margin-top: 30px;
}

#notebookItem input {
    width: 91%;
    background: transparent;
    border: none;
    color:whitesmoke;
}

#notebookItem a {
    visibility: hidden;
    cursor: pointer;
}

#notebookItem:hover a {
    visibility: visible;
}
