<div class="row">
   <div class="columns" id="search">
    <p id="results-label">{{notes.length}} Notes</p>

        <mat-card id="notes-list" class="cards" [@notesAnim]="state" *ngFor="let note of notes; let i = index">
            <mat-card-header fxLayout="row" fxLayoutAlign="space-around center">
                <mat-card-title-group>
                    <mat-card-title>{{ note.title }}</mat-card-title>
                </mat-card-title-group>
                   <img src="assets/trash-can.svg" (click)="deleteNote(note)">
                   <img src="assets/edit.svg" (click)="openUpdateNoteModal(note)">
             </mat-card-header>            
            <mat-card-content>
              <p class="noteContent">{{ note.content }}</p>
            </mat-card-content>
            <mat-card-actions>
              <p class="noteFooter"> {{ note.date }}</p>
            </mat-card-actions>
          </mat-card>    
  </div>
</div>

