#results {
    background-color:#323839;
    min-height:100vh;
}

#note {
    margin-top:55px;
}


#results-label {
    margin:60px 0 20px 30px;
}

ul {
    list-style-type:none;
    margin:0;
}

.cards {
    color:#fff;
    background-color:#2A3031;
    width:90%;
    padding:13px;
    margin: 10px 10px 10px -13px;
    text-indent: 30px;
}

.cards img {
    cursor:pointer;
    width:24px;
    /* margin-right: 10px; */
} 


.noteContent{
    word-wrap: break-word; 
}


.invalid-input{
    color: red;
}