.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 14%;
  background: rgb(14, 12, 12);
}

.sidenav h2 {
  margin: 25% 0 17% 8%;
  color: #1ad39a;
  font-weight: 700;
}

.mat-nav-list a {
  color: whitesmoke;
  margin-top: 12%;
  font-size: 1.1em;
}

.mat-nav-list i {
  margin: 5%;
}
