.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 15%;
    background: rgb(14, 12, 12);
}

.sidenav h2 {
    margin-right: 2%;
    margin-top: 5%;
    color: #1ad39a;
    padding: 15px;
    font-weight: 700;
}

.mat-nav-list a {
    color: whitesmoke;
    margin-right: 4%;
    margin-top: 5%;
    font-size: 1.2em;
}

.mat-nav-list i {
    margin: 4%;
}