<div class="container-fluid">
    <div class="row">
        <div class="sidebar-sticky col-sm-2">

            <h2 routerLink="/notes">{{ 'APP.TITLE' | translate }}</h2>

            <ul class="nav justify-content-sm-evenly">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/notes">
                        <i class="fa fa-sticky-note" aria-hidden="true"></i>
                        {{ 'APP.SIDENAV_LINKS.ALL_NOTES' | translate }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/notebooks">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        {{ 'APP.SIDENAV_LINKS.NOTEBOOKS' | translate }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/tags">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        {{ 'APP.SIDENAV_LINKS.TAGS' | translate }}
                    </a>
                </li>
            </ul>
        </div>

        <main role="main" class="col p-l-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>