<div class="newNoteContainer">
  <form #f="ngForm" (ngSubmit)="f.form.valid && createNote()">
    <div>
      <input type="text" class="titlelnput form-control" placeholder="Title" name="title" [(ngModel)]="note.title">
      <!--if no title save note with default title : sans   {{ 'APP.NEW_NOTE.UNTITLED' | translate }}-->
    </div>
    <div class="contentBody">
      <ckeditor [editor]="Editor" data="<p>{{ 'APP.NEW_NOTE.SAVE_NOTE' | translate }}</p>" name="content"
        [(ngModel)]="note.content"></ckeditor>
    </div>
    <div>
      <button class="btn btn-primary" type="submit"> {{ 'APP.NEW_NOTE.SAVE_NOTE' | translate }}</button>
    </div>
  </form>
</div>
