<div class="container">

  <div class="pull-right">
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </div>

  <div class="row">
    <ng-container class="rowsContainer" *ngFor="let note of notes; let i = index">
      <app-note [@notesAnim]="state" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cards" [note]="note"
        (noteUpdateEvent)="updateNote($event)" (noteDeleteEvent)="deleteNote($event)"></app-note>
    </ng-container>
  </div>
</div>












<!--
    <div class="columns">
      Latest Month : April 2019
      <div>
        notes in cards :
            note Title
            first lines 
      </div>

       January 2019
      <div> spaced notes in grid 
        notes in cards :
            note Title
            first lines 
      </div>
      //on Note click show detail note
    </div>
  -->