<div class="container">
  <div class="floatingBtnDiv pull-right">
    <button mat-icon-button color="accent" aria-label="New Note">
      <mat-icon class="floatingBtn" [routerLink]="['/newNote']">add</mat-icon>
    </button>
  </div>

  <div class="row">
    <ng-container class="rowsContainer" *ngFor="let note of notes; let i = index">
      <app-note [@notesAnim]="state" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cards" [note]="note"
        (noteUpdateEvent)="updateNote($event)" (noteDeleteEvent)="deleteNote($event)"></app-note>
    </ng-container>
  </div>
</div>
