.floatingBtn {
  font-size: 26;
}

.floatingBtnDiv {
  margin-left : 5%;
}

.filterBar {
  margin: auto;
  display : flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.searchInput > input{
  margin-top: 6%;
  padding : 10px;
}
