/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('../node_modules/font-awesome/css/font-awesome.css');

body {
    background:#3F4648;
}

.container {
    margin-left: 18%;
    margin-top: 5%;
}

h1, p, ul li, a {
    font-family: 'Raleway';
}

p {
    color:#95989A;
}

