/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
@import url("../node_modules/font-awesome/css/font-awesome.css");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #3f4648;
}

.container {
  margin-left: 18%;
  margin-top: 5%;
}

h1,
p,
ul li,
a {
  font-family: "Raleway";
}

.ck-editor__editable_inline {
  min-height: 500px;
  padding : 10px;
  color : black;
  background-color: rgb(53, 44, 44);
  overflow: scroll;
}
