#tagItem {
    background-color: #2A3031;
    margin-top: 30px;
    width : 180px;
    height: 70px;
}

.card-body {
  padding: 1rem;
}

.card-body > div {
  float : left;
}

.title {
  width: 65%;
  text-align: center;
}

a:first-child {
  margin-left: 10px;
}

#tagItem a {
    visibility: hidden;
    cursor: pointer;
}

#tagItem:hover a {
    visibility: visible;
}
